body {
    font-family: sans-serif;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}
.header-container {
    display: flex;
    flex-direction: column;
    max-height: 100px;
}
.logout {
    position: absolute;
    right: 100px;
    left: 10px;
    top: 20px;
}
.ant-layout-header,
.ant-layout-footer {
  color: #fff;
  background: #7dbcea;
}
.ant-layout-footer {
  line-height: 1.5;
}
.ant-layout-sider {
  color: #fff;
  height: 1000px;
  background: #3ba0e9;
}
.ant-layout-content {
  min-height: 120px;
  color: #fff;
  height: 1000px;
  background: rgba(16, 142, 233, 1);
}

/* #root, main {
    min-height: 100vh;
}

#main-container {
    justify-content: center;
    align-items: top;
    border: 1px solid white;
    min-height: 400px;
    padding: 2rem;
} */

img {
    max-width: 50vw;
    max-height: 25vw;
    display: block;
    margin: auto;
}

h1 {
    font-size: large;
}

form {
    display: flex;
    flex-flow: row wrap;
    max-width: 40vw;
    margin: auto;
    align-items: baseline;
}

#clickMeBtn {
    padding: 5px 20px;
    margin: 10px auto;
    float: right;
}

#greeting {
    margin: 10px auto;
    padding: 10px 60px;
    border: 1px solid #222;
}

#greeting:empty {
    display: none;
}
